<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="css/12cols.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>

<body>
    <div class="container">
        <p class="overskrift">Velkommen</p>
        <form name="myForm" action="/signin" method="post">
            <div>
                <input id="username" type="text" name="User" placeholder="Brugernavn" required="">
                <div class="user">
                    <img src="../img/user23.png" height="45px">
                </div>
                <input id="userPassword" type="password" name="Password" placeholder="Adgangskode" required="">
                <div class="padlock">
                    <img src="../img/padlock233.png" height="45px">
                </div>
            </div>
            <br/><br/>
            <!-- <input type="checkbox" name="remember" value="checked">Husk mig<br /><br /><br /> -->
            <input type="submit" name="submit" value="LOG IND">
        </form>
    </div>
</body>

</html>
