<!DOCTYPE html>
<html lang="en">

<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/loginstyle.css">
    <link rel="stylesheet" type="text/css" href="css/12cols.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $('#signinform').submit(function validateForm(event) {
            event.preventDefault();
            console.log('hej');
            $.ajax({
                    url: '/signin',
                    method: 'POST',
                    data: {
                        userName: 'bbb'
                    }
                })
                .done(function(dataStr) {
                    var data = JSON.parse(dataStr);
                    var x = document.forms["myForm"]["User"].value;
                    var y = document.forms["myForm"]["Password"].value;
                    console.log('from server: ', data);
                    for (var i = 0; i < data.length; i++) {
                        if (x == data[i].username && y == data[i].password) {
                            window.location.href = "/main";
                        } else {
                            alert("Forkert brugernavn eller password");
                        }
                    }
                });
        });

    </script>
</head>

<body>
    <div class="container">
        <p class="overskrift">Velkommen</p>
        <form id="signinform" name="myForm">
            <div>
                <input id="username" type="text" name="User" placeholder="Brugernavn" required="">
                <div class="user">
                    <img src="../img/user23.png" height="45px">
                </div>
                <input id="userPassword" type="password" name="Password" placeholder="Adgangskode" required="">
                <div class="padlock">
                    <img src="../img/padlock233.png" height="45px">
                </div>
            </div>
            <br/><br/>
            <!-- <input type="checkbox" name="remember" value="checked">Husk mig<br /><br /><br /> -->
            <input type="submit" name="submit" value="LOG IND">
        </form>
    </div>
</body>

</html>
